<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarList" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarList">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"routerLink="" > HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/Bedroom" >BEDROOM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"routerLink="/LivingRoom">LIVING ROOM</a>
            </li>
            <li class="nav-item">
                <a routerLink="/DiningRoom"  class="nav-link">DINING ROOM</a>
            </li>
            <li class="nav-item">
                <a routerLink="/Kitchen"  class="nav-link">KITCHEN</a>
            </li>
            <li class="nav-item">
                <a routerLink="/Garden"  class="nav-link">GARDEN</a>
            </li>
            <li class="nav-item">
                <a routerLink="/AddProduct"  class="nav-link">Add Product</a>
            </li>

        </ul>
    </div>
</nav>