################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/ASPCOREBACKEND/.vs
/ASPCOREBACKEND/Application/bin
/ASPCOREBACKEND/Application/obj
/ASPCOREBACKEND/ASPCOREBACKEND/obj
/ASPCOREBACKEND/ASPCOREBACKEND/bin
/ASPCOREBACKEND/Entityframework/bin
/ASPCOREBACKEND/Entityframework/obj