


/.vs
/ASPCOREBACKEND/PopulateData/bin
/ASPCOREBACKEND/Source/Entityframework/obj
/ASPCOREBACKEND/Source/Entityframework/bin/
/ASPCOREBACKEND/.vs
/ASPCOREBACKEND/PopulateData/obj
/ASPCOREBACKEND/Source/ASPCOREBACKEND/obj