


/.vs
/ASPCOREBACKEND/PopulateData/bin
/ASPCOREBACKEND/Entityframework/obj
/ASPCOREBACKEND/Entityframework/bin/
/ASPCOREBACKEND/.vs
/ASPCOREBACKEND/PopulateData/obj
/ASPCOREBACKEND/ASPCOREBACKEND/bin
/ASPCOREBACKEND/ASPCOREBACKEND/obj
/ASPCOREBACKEND/ASPCOREBACKEND/obj
/ASPCOREBACKEND/ASPCOREBACKEND/bin
