<ul class="navBar">
    <li  *ngIf="!isLogin" >
        <a routerLink="/login">Sign-in</a>|<a routerLink="/register">Sign-up</a>  
    </li>
    <li *ngIf="isLogin" >
        <div class="dropdown">
            <img src="assets/1.png" class="profileImg" alt="Profile" width="30" height="30">
            <div class="dropdown-content">
                <app-profile></app-profile>
            </div>
        
        </div>  
    </li>
    <li *ngIf="isLogin">
        <fa-icon [icon]="notification" size="2x"></fa-icon>
    </li>
</ul>
