.itemDetails{
    margin-top: 5%;
}
.itemSummary{
    list-style-type: none;
}

.Continue button{
    background-color:lightgray;
    margin: 1.5rem 0  0;
}
.checkout button{
    background-color: lightskyblue;
    width: 50%;
}
