.itemDetails{
    margin-top: 5%;
}
.itemSummary{
    list-style-type: none;
}

.Continue button{
    background-color:lightgray;
    border: none;
    height: 100%;
   
}
.checkout button{
    background-color:#00A7FF;
    color: white;
    height: 2.2rem;
    width: 100%;
    border: none;
}
.outBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
