<div class="container">
    <div class="cartTitle"> 
       
        <h6>
            Your cart
        </h6>
        <span routerLink="" style="color: #00A7FF;">
            Continue shopping
        </span>        
    </div>
    <div class="row paymentContainer">
        <div class="col-sm-7"> 
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width: 20%"></th>             
                        <th scope="col" style="width: 60%"></th> 
                        <th scope="col" style="width: 20%"></th> 
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let item of cart;let i = index">
                        <th>
                            <img src={{item.imageUrl}} style="width:4.5rem;height: 4.5rem;" >
                        </th>
                         
                        <th>
                            <div class="itemDetails"> 
                                <span>{{item.Name}} </span>        
                                <p> Color: Blue </p>  
                            </div>
                        </th>
                        <th>
                            <span id="price">
                                R {{item.Price}}
                            </span>
                            <div class="updateCart">
                                <a (click)="removeItem(i)" >  
                                    <fa-icon [icon]="trashIcon"> </fa-icon> 
                                </a>
                                <input type="text" [value]="item.Quantity"  (change)="quantityChanged($event.target.value,i)" id="Quantity" />
                            </div>
                        </th>
                    </tr>
                </tbody>
                <tfoot style="background-color: white !important">
                    <tr >
                        <td></td>
                    
                        <td colspan="2">
                            <button (click)="clearCart()" id="clearCart">
                                Empty Cart
                            </button>      
                             
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-sm payment">
            <div class="promoCode">
                <input type="text" height="20px" placeholder="Discount code" />
                <button class="promoButton" >
                    Apply
                </button>
            <div>
                Total Saving: R 00:00
            </div>
            <hr>
            <div class="cartTitle">
                <div>
                    SubTotal
                </div>
                <div>
                        R {{total}}
                </div>
            </div>
            <div class="cartTitle">
                <div >
                    Estimated Shipping: 
                </div>
                <div >
                        R 5.00
                </div>
            </div>
            <div class="cartTitle">
                <div >
                    Tax: 
                </div>
                <div >
                    R {{taxAmount}}
                </div>
            </div>
            <hr>
            <div class="cartTitle">
                <span>
                    Estimated Total (RSA): 
                </span>
                <span>
                    R {{payableAmount}}
                </span>
            </div>
            <app-pay-pal-form>
                
            </app-pay-pal-form>
        </div>  
    </div>  
</div>