
<section class="row contactUsPage">
       
       
    <div class="contactUsForm iteams  col-sm-6">
    <app-contactus> </app-contactus>
    </div>
    <div class="maps col-sm-6">
                        
        <iframe   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12355.311436768174!2d30.437375788013586!3d-22.97760384510611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ec5c688650ab8cf%3A0x507f331174fe941f!2sUniversity%20of%20Venda!5e0!3m2!1sen!2sus!4v1574344293570!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
                              
            
   </div>
</section>

