<form>
    <div class="form-row">
        <div class="form-group col-md">
            <label for="cardHolder">
                Card holder
            </label>
            <input type="text" class="form-control" id="cardHolder" placeholder="Card holder">
        </div>
        <div class="form-group">
            <label for="cardHolder">
                Expiration date
            </label>
            <div class="form-row">
         
                <div class="col-md-">
            
                    
                    <input type="text" class="form-control" id="month" placeholder="MM" > 
                </div> /
            <div class= "col-md-">
                <input type="text" class="form-control" id="year" placeholder="YY" >
            </div>
           
        </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md">
            <label for="cardHolder">
               Card Number
            </label>
            <input type="text" class="form-control" id="cardHolder" placeholder="Card Number">
        </div>
        <div class="form-group">
            <label for="cardHolder">
               CVC
            </label>
            
                <input type="text" class="form-control" id="year" placeholder="CVC" >
           
       
        </div>

    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Proceed</button>
</form>
