<div class="carousel slide" data-ride="carousel"  id="welcomCarousel"> 
    <div class="carousel-inner" >
       
        <div  *ngFor="let product of firstProduct" class="carousel-item active">
                <div class="card" >
                        <div class="row">
                            <div class="col-sm-7">
                                <img src={{product.imageUrl}} class="card-img"  style="height: 300px;" alt="...">
                               
                            </div>  
                            <div class="col-sm-3"> 
                                <div class="bodyOfCart">
                                    <h5 class="-titlcarde">{{product.name}}</h5>
                                    <p class="card-text">{{product.destription}}</p>
                                    
                                    <h5 class="card-title">R{{product.price}}</h5>
                                    <a href="#" class="btn btn-primary">Buy it Now</a>
                                </div>
                            </div>
                      </div>
                    </div>
        </div>
        <div *ngFor="let product of productData" class="carousel-item">
                <div class="card" >
                        <div class="row">
                            <div class="col-sm-7">
                                <img src={{product.imageUrl}} class="card-img"  style="height: 300px;" alt="...">
                               
                            </div>  
                            <div class="col-sm-3"> 
                                <div class="bodyOfCart">
                                    <h5 class="-titlcarde">{{product.name}}</h5>
                                    <p class="card-text">{{product.destription}}</p>
                                    
                                    <h5 class="card-title">R{{product.price}}</h5>
                                    <a href="#" class="btn btn-primary">Buy it Now</a>
                                </div>
                            </div>
                      </div>
                    </div>
        </div>

        <a class="carousel-control-prev" href="#welcomCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">previous</span>
        </a>
       
    <a class="carousel-control-next" href="#welcomCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
