.content{
    display: flex;
    justify-content: start;
    background-size: 100% 100%;
    position: relative;
    height: 12rem;
    align-items: center;
   
}
@media screen and (max-width:575px)
{
    .bodyOfCart{
        margin: 5%;
    }

}