<div class="carousel slide" data-ride="carousel"  id="welcomCarousel"> 
    <div class="carousel-inner">
        <div  *ngFor="let product of firstProduct" class="carousel-item active">
            <div class="card content" 
            [ngStyle]="{'background-image':'url('+ product.imageUrl +')'}">
               
            </div>
        </div>
        <div *ngFor="let product of productData" class="carousel-item">
            <div class="card content"
            [ngStyle]="{'background-image':'url('+ product.imageUrl +')'}">                     
               
            </div>
        </div>

        <a class="carousel-control-prev" href="#welcomCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">previous</span>
        </a>
       
    <a class="carousel-control-next" href="#welcomCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
