<div id="footer">
   <div  class="container">
      <div id="footerContent" class="row">
            <section class="col-sm-4">
               <h5>
                  About
               </h5>
               <p>
                  Developer with one year and six-months experience in development.  
                  With a great understand of OOP, front end and back end technologies. 
                  I am open for a challenge in order to grow and improve. 
                  Good communication skills and open to assist others where its possibly. 
                  Quality result drive me to get things done. 
               </p>
            </section>
            <section class="col-sm-2 offset-sm-1">
               <h5>
                  Technologies
               </h5> 
               <ul>
                  <li>
                     ASP.Net
                  </li>
                  <li>
                     HTML5
                  </li>
                  <li>
                     CSS
                  </li>
                  <li>
                     JavaScript 
                  </li>
                  <li>
                     C#
                  </li>
                  <li>
                     WCF
                  </li>
                  <li>
                     Entity Framework
                  </li>
                  <li>
                     Angular 
                  </li>
               </ul>
               
            </section>
            <section class="col-sm-3 offset-sm-2">
               <h5>
                  Quick Links
               </h5> 
               <ul>
                  <li >
                     About us
                  </li>
                  <li routerLink="/Contact">
                     Contant us
                  </li>
                  <li>
                     Contribution
                  </li>
                  <li>
                     Privacy Policy
                  </li>
                  <li>
                     Site Map
                  </li>
               </ul>
            </section>
      </div>
      <hr>
      Copyright © 2020 All Rights Reserved
    </div>
</div>