<div id="footerContent">
    <div class="row">
        <div class="col-sm-3">
            <div class="title">
                <h6>INFORMATION</h6>
                <hr>
                <ul>
                    <li>
                                &#8226;  Client Respond
                    </li>
                    <li>
                                &#8226;  Coming Events
                    </li>
                    <li>
                                &#8226; Rules and Regulations 
                    </li>
                </ul>
            </div>
             
        </div>
        <div class="col-sm-3">
            <div class="title">
                <h6>MY ACCOUNT</h6>
                <hr>
                <ul>
                        <li>
                                &#8226;Your balance (0.0)
                        </li>
                        <li>
                                &#8226; Acc: 1234567
                        </li>
                        <li>
                                &#8226; UserName: User
                        </li>
                        <li>
                                &#8226; Email: user@gmail.com
                        </li>
                    </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="title">
                <h6>FOLLOW US</h6>
                <hr>
                <ul>
                        <li>
                                &#8226;  <a>   <fa-icon [icon]="facebookIcon" ></fa-icon>  faceboo.com</a>
                        </li>
                        <li>
                                &#8226;  <a> <fa-icon [icon]="twitterIcon"></fa-icon> Twitter.com  </a>
                        </li>
                        
                        <li>
                                &#8226;  <a> <fa-icon [icon]="instagramIcon"></fa-icon> instagram.com </a>
                        </li>
                    </ul>
                    </div>
        </div>
        <div class="col-sm-3">
                <div class="title">
                    <h6>CONTACTS</h6>
                    <hr>
                    <ul>
                            <li>
                                &#8226;   <a> <fa-icon [icon]="envelope"></fa-icon> email@gmail.com</a>
                            </li>
                            <li>
                                &#8226;   <a><fa-icon [icon]="phone"></fa-icon> 011 XXX XXXX </a>
                            </li>
                           
                        </ul>
                </div>
        </div>

    </div>
</div>
