<form [formGroup]="addProductGroup" class="addProduct" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Product Name</label>
        <input class="form-control" formControlName="Name">
    </div>
    <div class="form-group">
        <label>Brand</label>
        <input class="form-control" formControlName="Brand">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" formControlName="Price">
    </div>
    <div class="form-group">
        <label>Categories</label>
        <select class="custom-select" (change)="SelectedCategory($event.target.value)">
            <option selected >Choose Below</option>
            <option value="BEDROOM" >Bed Room</option>
            <option value="LIVINGROOM" >Living Room</option>
            <option value="DININGROOM" >Dining Room</option>
            <option value="KITCHEN" >Kitchen</option>
            <option value="GARDEN" >Garden</option>
        
        </select>
    </div>
    
    <div class=" form-group" *ngIf="showPages" >
        <label>Choose Page</label>
        <select class="custom-select" (change)="SelectedPages($event.target.value)">
            <option selected >Choose Below</option>
            <option value="BEDROOM" >Bed Room</option>
            <option value="LIVINGROOM" >Living Room</option>
            <option value="DININGROOM" >Dining Room</option>
            <option value="KITCHEN" >Kitchen</option>
            <option value="GARDEN" >Garden</option>
           
        </select>
    </div>
    <div class="form-group">
        <label>Image</label>
        <div class="custom-file">
            <input accept="image/*" #imageInput type="file" (change)="ConvertImageToBase64($event)" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
            <label class="custom-file-label" for="inputGroupFile03">Upload Image</label>
          </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea  class="form-control" rows="4" formControlName="Destription"></textarea>
    </div>
    
    <button type="submit" > Submit </button>
   
</form>
