<div class="registerForm">
    <h2 align="center">Sign up </h2>
    <form [formGroup]="registerGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name: </label>
            <input formControlName="FirstName" class="form-control">
        </div>
        <div class="form-group">
            <label>Middle Name(Optionally): </label>
            <input formControlName="MiddleName" class="form-control">
        </div>
        <div class="form-group">
            <label>Last Name: </label>
            <input formControlName="LastName" class="form-control">
        </div>
        <div class="form-group">
            <label>Email: </label>
            <input formControlName="Email" class="form-control">
        </div>
        <div class="form-group">
            <label>Identity Number: </label>
            <input formControlName="IdentityNumber" class="form-control">
        </div>
        <div class="form-group">
            <label>Primary Number: </label>
            <input formControlName="PhoneNumber" class="form-control">
        </div>
        <div class="form-group">
            <label>Secondary Number: </label>
            <input formControlName="AdditionalNumber" class="form-control">
        </div>
        <div class="form-group">
            <label>Password: </label>
            <input formControlName="Password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <label>Confirm Password: </label>
            <input formControlName="ConfirmPassword" type="password" class="form-control">
        </div>
        <button type="submit">
            Submit
        </button>

    </form>
</div>