/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
form{
        margin-left: 20%;
        margin-right: 20%;
        margin-top:3%;
}
form .form-group input, form .form-group textarea{
    border: none;
    border-bottom: 0.1rem solid lightgray;
}
form .form-group input:focus, form .form-group textarea:focus{
    background-color: lightgray;
}
form button{
    width: 100%;
    padding: 5px 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #00A7FF;
    color: white;
}
.innerContent{
    position: absolute;
}
.profileImg{
    border-radius: 50%;
}

@media screen and (max-width:480px)
{
    form{
        margin: 0;
        margin-top:3%;
    }
}
.error{
    color: red;
    font-size: 12px;;
}
a{
    color: black;
    font-weight: 380;
}
.buy{
    background-color: #00A7FF;
    color: white ;
}