.grid-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px ;
    margin-left:10px;
    margin-right:10px;
}

.companyDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartItems{
    margin-top: 2%;;
   
}
.MiddleContentheader{
    display: flex;
    flex-direction: row;
}

.companyName{
    margin-top: 10%;
}

  #websiteTittle{
      color: #00A7FF;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 800 ;
  }