<app-top-link></app-top-link>
<div class="sticky">
    <div class="grid-container">
        <div class="companyDetails">
            <div class="companyName">
            <a routerLink=""> 
                <h3 id="websiteTittle">Furniture</h3>
                </a>
            </div>
        </div>
        <div class="cartItems"> 
                <div class="dropdown">
                    <button class="btn btn-secondary" id="dropdownMenuButton" 
                    routerLink="/Cart">
                        <fa-icon [icon]="cart"  size="1x" ></fa-icon>
                        <span > Cart:({{CartItems.length }}) </span>
                    </button>
                </div>
                
        </div>
    </div>
</div>
